<div class="text-center">
  <footer
    style="
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    "
  >
    <h4>Created By - Prajjwal Sahu</h4>
  </footer>
</div>
