<header class="p-3 bg-dark text-white mb-4">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li>
          <a href="/all" class="nav-link px-2 text-white">All</a>
        </li>
        <li>
          <a href="/bookByISBN" class="nav-link px-2 text-white"
            >Book By ISBN</a
          >
        </li>
        <li>
          <a href="/authorWorks" class="nav-link px-2 text-white"
            >Author Works</a
          >
        </li>
        <li>
          <a href="/sortedByTitle" class="nav-link px-2 text-white"
            >SortedByTitle</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
