<html>
  <%- include('../partials/head') %> <%- include('../partials/header') %>
  <body class="container text-center">
    <h1>Hello Welcome to the Csv Reader App</h1>
  </body>
  <%- include('../partials/footer') %>
</html>
